:root {
    --darkest-color: #2E401A;

    --dark-color: ##3B6623;

    --middle-color: #5F8B3A;

    --bright-color: #7FB069;

    --lightest-color: #99C19E;

    --white: #FFFDFA;

}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}




/* Entry Card Styles */

.entry-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    
    padding: 1.2rem;
    background-color: var(--lightest-color);
    border-radius: 8px;
    padding: 1.2rem;
    margin: .3rem 1.7rem;
    
}


.title-box {
    color: var(--darkest-color);
    margin-bottom: 1.8rem;
}

.content-box {
    background-color: var(--white);
    border-radius: 8px;
    padding: 1.2rem;
    margin: .3rem 1.7rem;

}

.title-box .date-holder>h6 {
    font-size: 0.73rem;
    margin-bottom: 1.3rem;
    color: var(--middle-color);
}

.title-box .title-holder>h5 {
    font-size: 1.3rem;
}

.entry-content {
    background-color: var(--white);
    border-radius: 8px;
    
}

.entry-content>p {
    color: var(--darkest-color);
}


.button-box {
    display: flex;
    gap: 1.7rem;
}

.button-box>.btn {
    background-color: var(--darkest-color);
    color: var(--white);
    padding: .98em 1.9rem;
}

.btn.btn-danger {
    background-color: var(--darkest-color);
}


.btn.btn-primary {
    background-color: var(--bright-color);
}

.tag-holder {}

/* Row Styles */

/* Bootstrap Styles */